.browserupgrade {
  margin: 0.2em 0;
  background: #111111;
  color: #ffffff;
  padding: 0.2em 0;
}

.page {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#loading {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111111;
  z-index: 1000;
  transition: all 0.2s ease-out;
  .loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75px;
    height: 75px;
    margin-top: -37px;
    margin-left: -37px;
    transition: all 0.2s ease-out;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
  }
  .loaded {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 135px;
    height: 135px;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-out;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes up {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, -60vh);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}

.loaded_up {
  animation: up 5s linear;
}

body {
  background: #111111;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

.l-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0 5px 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.896796218487395) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  text-shadow: 0 0 3px #000000;
  z-index: 48;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__left {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
  }
  &__right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
  }
  &__logo {
    display: block;
    img,
    svg {
      display: block;
      max-width: 73px;
      max-height: 66px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__toggle {
    display: flex;
    align-items: center;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    &-icon {
      display: block;
      position: relative;
      width: 32px;
      height: 22px;
      margin-right: 10px;
      background-image: url("../images/icon_nav.svg");
      background-position: left center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 0.2s ease-out;
    }
    &_active {
      .l-header__toggle-icon {
        background-image: url("../images/icon_close.svg");
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #95c132;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 8px 0;
        margin-left: 48px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #95c132;
          text-decoration: none;
        }
      }
    }
  }
  &__phone {
    display: block;
    margin: 0 0 0 55px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #95c132;
      text-decoration: none;
    }
  }
  &__lang {
    display: block;
    position: relative;
    label {
      display: inline-block;
      margin: 0 0 0 20px;
      input {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        &:checked {
          & ~ div {
            border-color: #95c132;
          }
        }
      }
      & > div {
        display: block;
        margin: 0;
        border-bottom: 2px solid transparent;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #95c132;
          text-decoration: none;
        }
      }
    }
  }
}

.l-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 130px 0;
  height: 100vh;
  overflow: hidden;
  background: #111111;
  z-index: 45;
  &__image {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 875px;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  &__nav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: inline-flex;
        align-items: center;
        position: relative;
        margin: 0 0 25px 0;
        border-bottom: 2px solid transparent;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #ffffff;
        img,
        svg {
          display: block;
          max-width: 25px;
          max-height: 25px;
          margin-left: 10px;
        }
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          border-color: #95c132;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.mainSlider {
  display: block;
  position: relative;
  width: 100%;
  padding-right: 30px;
  height: 100vh;
}

#main-pagination {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  border-left: 2px solid #313131;
  background: #111111;
  transform: none;
  transition: all 0.2s ease-out;
}

#main-pagination .swiper-pagination-bullet {
  position: relative;
  width: 5px;
  height: 5px;
  margin: 12px 0 !important;
  border-radius: 999rem;
  background: #ffffff;
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    background: #95c132;
    text-decoration: none;
  }
}

#main-pagination .swiper-pagination-bullet-active {
  background: #95c132;
  &:after {
    display: block;
    position: absolute;
    content: "";
    margin-top: -4px;
    margin-left: -4px;
    width: 13px;
    height: 13px;
    border-radius: 999rem;
    background: #95c132;
    opacity: 0.3;
    transition: all 0.2s ease-out;
  }
}

.l-home-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #111111;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.l-home-welcome {
  display: block;
  position: relative;
  width: 100%;
  padding: 130px 0;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 146px;
    color: #95c132;
  }
  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
  }
}

.l-home-about {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 130px;
  border-top: 2px solid #313131;
  &__left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 auto;
    position: relative;
    padding: 20px 170px 20px calc((100vw - 1200px) / 2);
  }
  &__title {
    display: block;
    max-width: 300px;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__text {
    display: block;
    max-width: 300px;
    margin: 30px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #a5a5a5;
  }
  &__button {
    display: flex;
    align-items: center;
    position: relative;
    margin: 40px 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #95c132;
    &-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-left: 20px;
      width: 70px;
      height: 70px;
      border: 2px solid #ffffff;
      border-radius: 999rem;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 28px;
        max-height: 22px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-home-about__button-arrow {
        background: #95c132;
        img,
        svg {
          max-width: 38px;
          max-height: 40px;
          filter: brightness(0) invert(1);
        }
      }
      color: #95c132;
      text-decoration: none;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    flex: 0 0 800px;
    margin-right: -4px;
  }
  &-card {
    display: block;
    position: relative;
    flex: 0 1 400px;
    min-height: 166px;
    margin: -2px -2px 0 0;
    padding: 12px 30px;
    border: 2px solid #313131;
    &__info {
      display: block;
      margin: 0 0 10px 0;
      color: #111111;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 73px;
      letter-spacing: 0.1em;
      text-shadow: 2px 0 0 #95c132, -2px 0 0 #95c132, 0 2px 0 #95c132,
        0 -2px 0 #95c132, 1px 1px #95c132, -1px -1px 0 #95c132,
        1px -1px 0 #95c132, -1px 1px 0 #95c132;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      text-align: right;
      color: #ffffff;
    }
  }
}

.l-home-solutions {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &__title {
    display: block;
    position: absolute;
    top: 144px;
    left: calc((100vw - 1200px) / 2);
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
    pointer-events: none;
    z-index: 3;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &-card {
    display: block;
    position: relative;
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 230px 20px;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      transition: all 0.6s ease-out;
    }
    &__title {
      display: block;
      max-width: 330px;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      transition: all 0.6s ease-out;
    }
    &__arrow {
      display: block;
      position: absolute;
      bottom: 80px;
      left: 0;
      width: 0;
      height: 50px;
      background: url("../images/icon_arrow_right_long.svg") no-repeat right
        center;
      background-size: auto 100%;
      transition: all 0.6s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.6s ease-out;
    &:hover {
      .l-home-solutions-card__content {
        background: rgba(0, 0, 0, 0.8);
      }
      .l-home-solutions-card__title {
        font-size: 30px;
        line-height: 37px;
        color: #95c132;
      }
      .l-home-solutions-card__arrow {
        width: 250px;
      }
      text-decoration: none;
    }
  }
}

.l-home-projects {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  position: relative;
  width: 100%;
  height: 100%;
  &__title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
    pointer-events: none;
    z-index: 3;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    flex: 1 1 33%;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 30px 20px;
      background: rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease-out;
    }
    &__what {
      display: block;
      max-width: 380px;
      margin: 0 0 7px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      max-width: 280px;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
      transition: all 0.2s ease-out;
    }
    &__line {
      display: block;
      position: relative;
      width: 0px;
      height: 2px;
      margin: 12px 0 0 0;
      background: #95c132;
      transition: all 0.2s ease-out;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 194px;
      height: 194px;
      border-radius: 999rem;
      background: url("../images/icon_not_circle.svg") no-repeat center center;
      background-size: contain;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
      &-arrow {
        display: block;
        position: absolute;
        right: -20px;
        top: 50%;
        width: 38px;
        height: 22px;
        transform: translateY(-50%);
        background: url("../images/icon_arrow_right_middle.svg") no-repeat right
          center;
        background-size: auto 100%;
        transition: all 0.2s ease-out;
      }
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-home-projects-card__content {
        background: rgba(0, 0, 0, 0.8);
      }
      .l-home-projects-card__title {
        color: #95c132;
      }
      .l-home-projects-card__line {
        width: 105px;
      }
      .l-home-projects-card__button {
        background: rgba(150, 193, 50, 0.3) url("../images/icon_not_circle.svg")
          no-repeat center center;
        background-size: contain;
      }
      .l-home-projects-card__button-arrow {
        right: -30px;
        width: 53px;
      }
      text-decoration: none;
    }
  }
}

.l-home-docs {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 130px;
  &_page {
    margin-top: 90px;
  }
  &__title {
    display: block;
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    &__image {
      display: block;
      width: 170px;
      height: 240px;
      margin-top: 2px;
      background-position: center center;
      background-color: #ffffff;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &__content {
      display: block;
      position: relative;
      margin-top: -6px;
    }
    &__title {
      display: block;
      height: 37px;
      overflow: hidden;
      margin: 0 0 28px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #ffffff;
    }
    &__what {
      display: block;
      height: 40px;
      overflow: hidden;
      margin: 0 0 43px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }
    &__text {
      display: block;
      height: 101px;
      overflow: hidden;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #a5a5a5;
    }
  }
  &__right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    width: 100%;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 235px;
  }
  &__button {
    display: flex;
    align-items: center;
    position: relative;
    margin: 105px 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #95c132;
    &-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-left: 20px;
      width: 70px;
      height: 70px;
      border: 2px solid #ffffff;
      border-radius: 999rem;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 28px;
        max-height: 22px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-home-docs__button-arrow {
        background: #95c132;
        img,
        svg {
          max-width: 38px;
          max-height: 40px;
          filter: brightness(0) invert(1);
        }
      }
      color: #95c132;
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    position: relative;
    width: 68px;
    height: 50px;
    margin: 0;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #95c132;
      text-decoration: none;
    }
  }
  .swiper-pagination {
    display: block;
    position: relative;
    bottom: none;
    margin: 0;
    transform: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
  &__companies {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 50px;
    padding-top: 40px;
    border-top: 2px solid #313131;
    &_page {
      padding-bottom: 40px;
    }
  }
  &__clients {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &-client {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 200px;
    max-height: 60px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.l-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding: 80px 0 50px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../images/footer_bg.jpg") no-repeat center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 24px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0 0 35px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
  &__subinfo {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #a5a5a5;
  }
  &__button {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    border: 0;
    outline: none;
    background: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #95c132;
    &-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-left: 20px;
      width: 70px;
      height: 70px;
      border: 2px solid #ffffff;
      border-radius: 999rem;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 28px;
        max-height: 22px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-footer__button-arrow {
        background: #95c132;
        img,
        svg {
          max-width: 38px;
          max-height: 40px;
          filter: brightness(0) invert(1);
        }
      }
      color: #95c132;
      text-decoration: none;
    }
  }
  ::placeholder {
    color: #a5a5a5;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 25px 0;
    & > div {
      display: block;
      position: absolute;
      bottom: 13px;
      left: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #a5a5a5;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    input {
      display: block;
      width: 100%;
      padding: 12px 0;
      border: 0;
      outline: none;
      border-bottom: 2px solid #595959;
      background: transparent;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      transition: all 0.2s ease-out;
      &:focus,
      &:active,
      &:valid {
        border-color: #ffffff;
        & ~ div {
          bottom: 48px;
          font-size: 10px;
          line-height: 12px;
          color: #a5a5a5;
        }
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
  &__subsubtitle {
    display: block;
    margin: 23px 0 7px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a5a5a5;
  }
  &__info {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #95c132;
        text-decoration: none;
      }
    }
  }
  &__social {
    display: block;
    margin: 40px 0 0 0;
    img,
    svg {
      display: block;
      max-width: 136px;
      max-height: 26px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    position: relative;
    margin: 95px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #a5a5a5;
    a {
      color: #a5a5a5;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #95c132;
        text-decoration: none;
      }
    }
  }
  &_line {
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      background: #95c132;
      pointer-events: none;
      z-index: 3;
    }
  }
  &-partners {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 2px solid #313131;
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
    }
    &__cards {
      display: block;
      position: relative;
      width: 100%;
    }
    &-card {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 125px;
      height: 75px;
      margin: 0 auto;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.l-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 115px 0 20px;
  list-style: none;
  z-index: 40;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #a5a5a5;
  pointer-events: none;
  &_page {
    position: absolute;
    top: 0;
  }
  li {
    display: inline-block;
    a {
      display: inline-block;
      color: #a5a5a5;
      pointer-events: all;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.l-page {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 36px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #ffffff;
  }
}

.l-projects {
  display: block;
  position: relative;
  width: 100%;
  border-top: 2px solid #313131;
  border-bottom: 2px solid #313131;
  &-aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 60px;
    &__title {
      display: block;
      margin: 0 0 38px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 45px;
      color: #ffffff;
    }
    &__subtitle {
      display: block;
      margin: 0 0 16px 0;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
    &__group {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 40px 0;
    }
    &__check {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 12px 0;
      padding: 0;
      input {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        &:checked ~ div {
          background: url("../images/icon_checkbox_checked.svg") no-repeat left
            top;
        }
      }
      & > div {
        display: block;
        position: relative;
        padding: 0 0 0 28px;
        background: url("../images/icon_checkbox.svg") no-repeat left top;
        background-size: 17px 17px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #95c132;
          text-decoration: none;
        }
      }
    }
    &__button {
      display: flex;
      align-items: center;
      position: relative;
      margin: 0 0 20px 0;
      border: 0;
      outline: none;
      background: transparent;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #95c132;
      &-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 40px;
        height: 40px;
        margin-left: 12px;
        border: 2px solid #ffffff;
        border-radius: 999rem;
        img,
        svg {
          display: block;
          max-width: 22px;
          max-height: 22px;
          transition: all 0.2s ease-out;
        }
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        .l-projects-aside__button-arrow {
          background: #95c132;
          img,
          svg {
            transform: rotate(180deg);
            filter: brightness(0) invert(1);
          }
        }
        color: #95c132;
        text-decoration: none;
      }
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
    transform: translateX(15px);
    .l-home-projects-card {
      flex: 1 1 50%;
      min-height: 375px;
    }
  }
}

.l-welcome {
  display: block;
  position: relative;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &__content {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 140px 0;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.7);
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #ffffff;
    b,
    strong {
      font-style: normal;
      font-weight: bold;
      font-size: 120px;
      line-height: 146px;
      color: #95c132;
    }
  }
  &__text {
    display: block;
    margin: 27px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
  }
  &__subtext {
    display: block;
    margin: 35px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #a5a5a5;
  }
}

.l-object-info {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 30px 0;
  background: #111111;
  &__title {
    display: block;
    margin: 0 0 34px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #a5a5a5;
  }
  &__subtitle {
    display: block;
    margin: 0 0 16px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #95c132;
  }
  &__info {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}

.l-object-tasks {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0;
  background-color: #ffffff;
  overflow: hidden;
  &_green {
    background: #95c132;
    .l-object-tasks__image {
      left: 0;
    }
    ul li:before {
      filter: brightness(0) invert(1);
    }
  }
  &__title {
    display: block;
    margin: 0 0 32px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #111111;
  }
  &__content {
    padding-left: 60px;
  }
  &__image {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  ul {
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #111111;
    li {
      display: block;
      position: relative;
      margin: 0 0 15px 0;
      padding-left: 20px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        top: 6px;
        width: 13px;
        height: 13px;
        background: url("../images/icon_plus_small_green.svg") no-repeat 0 0;
        background-size: contain;
      }
    }
  }
}

.l-object-items {
  display: block;
  position: relative;
  padding: 100px 0 60px 0;
  background: #111111;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 36px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 220px;
      border-bottom: 1px solid #95c132;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      height: 44px;
      overflow: hidden;
      margin: 20px 0 9px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #111111;
    }
    &__text {
      display: block;
      height: 114px;
      overflow: hidden;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #111111;
      opacity: 0.5;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    position: relative;
    width: 68px;
    height: 50px;
    margin: 0;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #95c132;
      text-decoration: none;
    }
  }
  .swiper-pagination {
    display: block;
    position: relative;
    bottom: none;
    margin: 0;
    transform: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}

.l-object-gallery {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0;
  background: #111111;
  &__title {
    display: block;
    margin: 0 0 53px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-height: 570px;
    overflow: hidden;
  }
  &-card {
    display: block;
    position: relative;
    flex: 1 1 180px;
    min-height: 180px;
    aspect-ratio: 1 / 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.l-object-similar {
  display: block;
  position: relative;
  padding: 60px 0 0 0;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 54px;
    .l-home-projects-card {
      flex: 1 1 50%;
      min-height: 375px;
      &__content {
        min-height: 375px;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    position: relative;
    width: 68px;
    height: 50px;
    margin: 0;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #95c132;
      text-decoration: none;
    }
  }
  .swiper-pagination {
    display: block;
    position: relative;
    bottom: none;
    margin: 0;
    transform: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}

.l-service-features {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 85px 0 0 0;
  background: #111111;
  &__title {
    display: block;
    margin: 0 0 36px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 36px 0 42px 0;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: -100vw;
      width: 300vw;
      height: 2px;
      background: #313131;
      pointer-events: none;
    }
    &__title {
      display: block;
      position: relative;
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      color: #ffffff;
      &:before {
        display: block;
        position: absolute;
        content: "";
        bottom: 100%;
        right: 100%;
        width: 13px;
        height: 13px;
        background: url("../images/icon_plus_small_green.svg") no-repeat center
          center;
        background-size: contain;
      }
    }
    &__text {
      display: block;
      position: relative;
      margin: 16px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #a5a5a5;
    }
  }
  &__image {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc((100vw - 1200px) / 2 + 450px);
    height: 938px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    pointer-events: none;
  }
}

.l-service-why {
  display: block;
  position: relative;
  padding: 110px 0 100px 0;
  background: #ffffff url("../images/service_bg_3.svg") no-repeat right bottom;
  &__title {
    display: block;
    margin: 0 0 65px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #111111;
  }
  &__text {
    display: block;
    margin: 0 0 65px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 44px;
    color: #111111;
  }
  &-card {
    display: block;
    max-width: 320px;
    margin: 0 0 30px 0;
    &__title {
      display: block;
      margin: 0 0 20px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 49px;
      color: #95c132;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #111111;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    position: relative;
    margin: 40px 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #111111;
    &-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-left: 20px;
      width: 70px;
      height: 70px;
      border: 2px solid #111111;
      border-radius: 999rem;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 28px;
        max-height: 22px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-service-why__button-arrow {
        background: #95c132;
        img,
        svg {
          max-width: 38px;
          max-height: 40px;
          filter: brightness(0);
        }
      }
      color: #111111;
      text-decoration: none;
    }
  }
}

.l-service-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 120px 0;
  background: #1c1c1c;
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &-card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 475px;
    margin: 33px 0 0 0;
    &__image {
      display: flex;
      align-items: center;
      position: relative;
      flex: 0 0 110px;
      height: 80px;
      img,
      svg {
        max-width: 80px;
        max-height: 80px;
      }
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
    }
  }
  &_line {
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      background: #313131;
      pointer-events: none;
      z-index: 3;
    }
  }
  .l-footer__title {
    margin-bottom: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
  }
  .l-footer__text {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #a5a5a5;
  }
}

.l-service-projects {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 0 0;
  background: #111111;
  &__title {
    display: block;
    margin: 0 0 37px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  .l-home-projects-card {
    flex: 1 1 50%;
  }
}

.l-service-solutions {
  display: block;
  position: relative;
  padding: 110px 0 0 0;
  background: #ffffff;
  &__title {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #111111;
  }
  &__text {
    display: block;
    margin: 0 0 38px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #111111;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 360px;
    margin: -2px -2px 0 0;
    padding: 40px 20px 30px 20px;
    border: 2px solid #dedede;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 60px;
      height: 60px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
      &:before {
        display: block;
        position: absolute;
        content: "";
        bottom: 100%;
        right: 100%;
        width: 13px;
        height: 13px;
        background: url("../images/icon_plus_small_green.svg") no-repeat center
          center;
        background-size: contain;
      }
    }
    &__title {
      display: block;
      margin: 22px 0 0 0;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #111111;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-service-solutions-card__image:before {
        filter: brightness(0) invert(1);
      }
      background: #95c132;
      text-decoration: none;
    }
  }
}

.l-service-include {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 80px 0;
  background: #111111;
  &__title {
    display: block;
    margin: 0 0 55px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__subtitle {
    display: block;
    margin: 0 0 16px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0 0 12px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
  }
  ul {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    li {
      display: block;
      position: relative;
      margin: 0 0 10px 0;
      padding-left: 10px;
      &:before {
        display: block;
        position: absolute;
        left: -20px;
        top: 0;
        content: "— ";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #95c132;
      }
    }
  }
}

.l-service-info {
  display: block;
  position: relative;
  padding: 85px 0 100px 0;
  background: #95c132;
  &__title {
    display: block;
    margin: 0 0 6px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #111111;
  }
  &__text {
    display: block;
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #111111;
  }
  &-collapse {
    display: block;
    position: relative;
    width: 100%;
    border-top: 2px solid rgba(17, 17, 17, 0.2);
    background: url("../images/icon_collapse_plus.svg") no-repeat left top 27px;
    background-size: 25px 25px;
    &_active {
      background: url("../images/icon_collapse_minus.svg") no-repeat left top
        37px !important;
      background-size: 25px 4px !important;
    }
    &:last-child {
      border-bottom: 2px solid rgba(17, 17, 17, 0.2);
    }
    &__title {
      display: block;
      position: relative;
      margin: 0;
      padding: 20px 0 20px 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      color: #111111;
    }
    &__content {
      display: none;
      position: relative;
      margin: 0;
      padding: 0 0 20px 40px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #111111;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    max-width: 400px;
    min-height: 800px;
    margin-left: 60px;
    padding: 50px;
    background: #111111 url("../images/why_bg.jpg") no-repeat bottom center;
    background-size: cover;
    .l-home-projects-card__button {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        .l-home-projects-card__button-arrow {
          right: -30px;
          width: 53px;
        }
        background: rgba(150, 193, 50, 0.3) url("../images/icon_not_circle.svg")
          no-repeat center center;
        background-size: contain;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.l-service-already {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 10px 0;
  background: #111111;
  &__title {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
  &__file {
    display: block;
    position: relative;
    margin: 0 0 15px 0;
    input {
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }
    & > div {
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #95c132;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #95c132;
        text-decoration: none;
      }
    }
  }
}

.l-docs {
  display: block;
  position: relative;
  padding: 0 0 50px 0;
  &-card {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 520px;
    margin: 0 0 70px 0;
    &__image {
      display: block;
      flex: 0 0 170px;
      height: 240px;
      background-position: center center;
      background-size: contain;
      background-color: #ffffff;
      background-repeat: no-repeat;
    }
    &__right {
      display: block;
      position: relative;
      padding: 0 0 0 22px;
    }
    &__content {
      display: block;
      position: relative;
      height: 158px;
      overflow: hidden;
    }
    &__title {
      display: block;
      margin: 20px 0 7px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #ffffff;
      transition: all 0.2s ease-out;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #a5a5a5;
    }
    &__link {
      display: flex;
      align-items: center;
      position: relative;
      margin: 18px 0 0 0;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #95c132;
      transition: all 0.2s ease-out;
    }
    &__arrow {
      display: block;
      position: relative;
      width: 18px;
      height: 14px;
      margin-left: 10px;
      background: url("../images/icon_arrow_small_right_long_green.svg")
        no-repeat right center;
      background-size: auto 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-docs-card__title {
        color: #95c132;
      }
      .l-docs-card__arrow {
        width: 40px;
      }
      text-decoration: none;
    }
  }
}

.l-docs-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #111111;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 980px;
    margin: 20px 0;
    padding: 20px 0;
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 245px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
  }
  &__title {
    display: block;
    margin: 0 0 28px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
  }
  &__what {
    display: block;
    margin: 0 0 43px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #a5a5a5;
  }
}

.l-about-companies {
  display: block;
  position: relative;
  padding: 100px 0 20px 0;
  background: #111111;
  &__text {
    display: block;
    margin: 0 0 70px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
  &__cards {
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    max-width: 280px;
    &__image {
      display: flex;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 60px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
    }
    &__text {
      display: block;
      height: 60px;
      overflow: hidden;
      margin: 3px 0 0 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      opacity: 0.5;
    }
  }
}

.l-about-ceo {
  display: block;
  position: relative;
  width: 100%;
  &__block {
    display: block;
    width: 100%;
    padding: 60px 70px;
    background: #1c1c1c url("../images/about_director.png") no-repeat right
      bottom;
    background-size: auto 100%;
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #95c132;
  }
  &__text {
    display: block;
    max-width: 680px;
    margin: 25px 0 0 0;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  .l-home-about-card {
    flex: 1 1 390px;
    background: #1c1c1c;
  }
  .l-home-about-card__info {
    color: #1c1c1c;
  }
}

.l-about-geo {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 0 0;
  &__map {
    display: block;
    position: relative;
    width: 100%;
    svg {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &__title {
    display: block;
    position: absolute;
    top: 16px;
    left: 0;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__text {
    display: block;
    position: absolute;
    right: 0;
    top: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #95c132;
  }
}

.l-about-team {
  display: block;
  position: relative;
  padding: 40px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0 0 45px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #a5a5a5;
  }
  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    margin-top: -2px;
    padding: 30px 0;
    border-top: 2px solid #313131;
    border-bottom: 2px solid #313131;
  }
  &__subtitle {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: -20px;
      top: 0;
      width: 13px;
      height: 13px;
      background: url("../images/icon_plus_small_green.svg") no-repeat 0 0;
      background-size: contain;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 170px;
    &__image {
      display: flex;
      align-items: flex-end;
      position: relative;
      width: 170px;
      height: 170px;
      box-shadow: inset 0 0 0 2px transparent;
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-color: #484848;
      cursor: default;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        .l-about-team-card__info {
          opacity: 1;
        }
        box-shadow: inset 0 0 0 2px #95c132;
        text-decoration: none;
      }
    }
    &__info {
      display: block;
      position: relative;
      width: 225px;
      padding: 6px 8px;
      background: #95c132;
      opacity: 0;
      z-index: 4;
      transition: all 0.2s ease-out;
    }
    &__link {
      display: flex;
      align-items: center;
      position: relative;
      margin: 0;
      padding: 3px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #111111;
      img,
      svg {
        display: block;
        max-width: 12px;
        max-height: 12px;
        margin-right: 8px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #111111;
        text-decoration: none;
      }
    }
    &__title {
      display: block;
      position: relative;
      margin: 6px 0 2px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      cursor: default;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #95c132;
        text-decoration: none;
      }
    }
    &__text {
      display: block;
      position: relative;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
    }
  }
}

.l-about-docs {
  display: block;
  position: relative;
  padding: 40px 0 0 0;
  background: #111111;
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    position: relative;
    width: 68px;
    height: 50px;
    margin: 0;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #95c132;
      text-decoration: none;
    }
  }
  .swiper-pagination {
    display: block;
    position: relative;
    bottom: none;
    margin: 0;
    transform: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
  .l-home-docs__row {
    display: none;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 35px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 290px;
    flex: 1 1 288px;
    height: 288px;
    padding: 30px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: #95c132;
      background: #95c132;
      text-decoration: none;
    }
  }
}

.l-news {
  display: block;
  position: relative;
  padding: 0 0 20px 0;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    margin: -2px 0 0 0;
    padding: 30px 0;
    border-top: 2px solid #313131;
    border-bottom: 2px solid #313131;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      position: relative;
      width: 100%;
      height: 250px;
    }
    &__wrap {
      display: block;
      width: 100%;
      max-height: 205px;
      overflow: hidden;
    }
    &__title {
      display: block;
      margin: 0 0 22px 0;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      color: #ffffff;
      transition: all 0.2s ease-out;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #a5a5a5;
    }
    &__link {
      display: block;
      margin: 10px 0 0 0;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #95c132;
      transition: all 0.2s ease-out;
    }
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 250px;
      background-size: cover;
      background-position: center center;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      .l-news-card__title {
        color: #95c132;
      }
      text-decoration: none;
    }
  }
  &__more {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-top: 50px;
  }
}

.l-deal {
  display: block;
  position: relative;
  padding: 90px 0 0 0;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    margin: 0 0 100px 0;
    &__image {
      display: flex;
      align-items: center;
      position: relative;
      height: 60px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: -10px;
        top: -10px;
        width: 13px;
        height: 13px;
        background: url("../images/icon_plus_small_green.svg") no-repeat 0 0;
        background-size: contain;
        filter: brightness(0) invert(1);
      }
    }
    &__title {
      display: block;
      margin: 20px 0 10px 0;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      color: #ffffff;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #a5a5a5;
    }
  }
}

.l-deal-get {
  display: block;
  position: relative;
  padding: 80px 0 100px 0;
  border-top: 2px solid #95c132;
  border-bottom: 2px solid #95c132;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__subtitle {
    display: block;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
  &__info {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #95c132;
      text-decoration: none;
    }
  }
  &__subinfo {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}

.l-article {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 0 0;
  &__welcome {
    display: block;
    margin: 0 0 45px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
  }
  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
  a {
    color: #95c132;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #95c132;
      text-decoration: none;
    }
  }
  figure {
    display: block;
    position: relative;
    margin: 30px 0 50px 0;
    img,
    svg {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  figcaption {
    display: block;
    max-width: 970px;
    margin: 0 auto;
    padding-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #a5a5a5;
  }
  ul {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    li {
      display: block;
      position: relative;
      margin: 0 0 10px 0;
      padding-left: 10px;
      &:before {
        display: block;
        position: absolute;
        left: -20px;
        top: 0;
        content: "— ";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #95c132;
      }
    }
  }
  &__gallery {
    display: block;
    position: relative;
    padding: 60px 0;
    &-card {
      display: block;
      position: relative;
      width: 100%;
      max-width: 170px;
      height: 170px;
      margin: 0 auto 30px auto;
      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-bottom: 2px solid #313131;
  }
  .table thead th {
    padding: 16px 2px;
    border-bottom: 2px solid #95c132 !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
  .table tbody td {
    padding: 18px 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    &:first-child {
      font-weight: 500;
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

.l-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 65px 0;
  &__subtitle {
    display: block;
    margin: 0 0 8px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a5a5a5;
  }
  &__phone {
    display: block;
    margin: 0 0 22px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #95c132;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0 0 22px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #95c132;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: block;
    margin: 0 0 60px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #95c132;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #95c132;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 25px 75px;
    border-radius: 999rem;
    background: url("../images/icon_button_bg.svg") no-repeat center center;
    background-size: 100% 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    &-arrow {
      display: block;
      position: absolute;
      top: 50%;
      right: -10px;
      width: 37px;
      height: 17px;
      transform: translateY(-50%);
      background: url("../images/icon_button_arrow_right.svg") no-repeat right
        center;
      background-repeat: no-repeat;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      .l-contacts__button-arrow {
        right: -20px;
        width: 54px;
      }
      background: rgba(150, 193, 50, 0.3) url("../images/icon_button_bg.svg")
        no-repeat center center;
      background-size: 100% 100%;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  z-index: 2;
}

.l-contacts-team {
  display: block;
  position: relative;
  padding: 100px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin: 0 0 25px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #111111;
  }
  &-card {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 30px 0;
    &__image {
      display: block;
      flex: 0 0 85px;
      height: 85px;
      background-position: center bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #484848;
    }
    &__content {
      display: block;
      padding-left: 15px;
    }
    &__name {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #111111;
    }
    &__info {
      display: block;
      margin: 8px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #111111;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #95c132;
        text-decoration: none;
      }
    }
  }
}

.l-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #111111;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 470px;
    margin: 20px 0;
    padding: 20px 0;
  }
  &__title {
    display: block;
    margin: 0 0 80px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #95c132;
  }
}

.l-thx {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #111111;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 750px;
    margin: 20px 0;
    padding: 20px 0;
  }
  img,
  svg {
    display: block;
    max-width: 100%;
  }
  &__title {
    display: block;
    margin: 35px 0 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    color: #95c132;
  }
  &__subtitle {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 35px 0 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}

@media (min-width: 1500px) {
  .l-home-docs__companies {
    margin-top: 70px;
    padding-top: 60;
  }
  .l-home-about__cards {
    flex: 0 0 1000px;
    height: calc(100vh - 135px);
  }
  .l-home-about-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1 1 500px;
    padding-bottom: 30px;
  }
  /* .l-home-solutions-card:hover {
    .l-home-solutions-card__title {
    }
  } */
  .l-home-about__cards_about {
    height: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .l-home-block {
    .l-footer {
      min-height: 100vh;
    }
  }
  .l-header__logo {
    transform: translateX(-28px);
  }
  .l-about-companies {
    .swiper-slide {
      width: 270px;
      margin-bottom: 60px;
    }
    .swiper-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  .l-about-team__wrap {
    padding-bottom: 5px;
  }
  .l-about-team {
    .swiper-slide {
      width: 170px;
      margin-right: 20px;
      margin-bottom: 25px;
    }
    .swiper-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .l-about-docs {
    .swiper-slide {
      flex: 1 1 286px;
      margin: -2px -2px 0 0;
    }
    .swiper-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      border-top: 2px solid #313131;
    }
  }
  .l-about-docs-card {
    flex: 1 1 286px;
    max-width: 100%;
    border: 2px solid #313131;
  }
}

@media (max-width: 1199px) {
  #main-pagination {
    display: none;
  }
  .mainSlider {
    overflow-y: visible;
  }
  .mainSlider {
    height: auto;
    margin: 0;
    padding: 0;
    & > .swiper-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }
  }
  .l-home-block {
    height: auto;
  }
  .l-header__toggle {
    & > span {
      display: none;
    }
  }
  .l-header {
    padding: 20px 0;
    &__logo {
      margin-left: 58px;
    }
  }
  .l-home-block_mob_vh {
    min-height: 100vh;
  }
  .l-home-welcome__title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
  }
  .l-home-welcome__text {
    margin: 26px 0 0 0;
    font-size: 20px;
    line-height: 25px;
  }
  .l-menu__nav li a {
    margin: 0 0 20px 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
  }
  .l-menu {
    padding: 110px 0 5px 0;
  }
  .l-header__phone {
    position: relative;
    margin: 20px 0 0 0;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    &:before {
      display: block;
      position: absolute;
      content: "Телефон";
      bottom: 100%;
      left: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }
  }
  .l-home-about {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 40px 0;
    border: 0;
  }
  .l-home-about__left {
    flex: 1 1 100%;
    padding: 0 30px;
  }
  .l-home-about__title {
    font-size: 35px;
    line-height: 43px;
  }
  .l-home-about__text {
    margin: 5px 0 50px 0;
    font-size: 18px;
    line-height: 27px;
  }
  .l-home-about-card {
    flex: 0 0 50%;
    padding: 12px 14px;
  }
  .l-home-about-card__info {
    display: inline-block;
    margin-bottom: 7px;
    font-size: 40px;
    line-height: 49px;
  }
  .l-home-about-card__text {
    text-align: left;
    font-size: 14px;
    line-height: 19px;
  }
  .l-home-about__cards {
    flex: 1 1 100%;
    margin: 0;
    padding: 0;
  }
  .l-home-about__button {
    margin-left: 30px;
  }
  .l-home-solutions {
    padding: 40px 0;
    border: 0;
  }
  .l-home-solutions__title {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 20px 30px;
    font-size: 35px;
    line-height: 43px;
  }
  .l-home-solutions__cards {
    flex-flow: column nowrap;
  }
  .l-home-solutions-card {
    flex: 1 1 100%;
    &__content {
      justify-content: flex-end;
      align-items: flex-start;
      height: 240px;
      padding: 30px;
      background: rgba(0, 0, 0, 0.5)
        url("../images/icon_right_small_green_arrow.svg") no-repeat right 30px
        bottom 30px;
      background-size: 30px 26px;
    }
    &__title {
      text-align: left;
    }
  }
  .l-home-projects {
    padding: 40px 30px;
    border: 0;
  }
  .l-home-projects__title {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 20px 0;
    transform: none;
    font-size: 35px;
    line-height: 43px;
    text-align: left;
  }
  .l-home-projects-card {
    flex: 1 1 100%;
    min-height: 315px;
    margin: 0 auto 20px auto;
  }
  .l-home-docs {
    margin: 0;
    padding: 40px 0;
    border: 0;
  }
  .l-home-docs__title {
    margin: 0 0 40px 0;
    font-size: 35px;
    line-height: 43px;
    word-wrap: break-word;
  }
  .l-home-docs-card__image {
    margin: 0 auto 40px auto;
  }
  .l-home-docs-card__title {
    height: 60px;
    margin-bottom: 14px;
    overflow: hidden;
    font-size: 25px;
    line-height: 30px;
  }
  .l-home-docs-card__what {
    margin-bottom: 26px;
  }
  .l-home-docs-card__text {
    height: 260px;
    font-size: 18px;
    line-height: 27px;
  }
  .l-home-docs .swiper-pagination {
    display: none;
  }
  .l-home-docs__row {
    position: absolute;
    top: -575px;
    max-width: 100%;
  }
  .l-home-docs__button {
    margin: 26px 0 0 0;
  }
  .l-home-docs__right {
    align-items: flex-start;
  }
  .l-home-companies {
    overflow: hidden;
  }
  .l-home-docs__clients {
    max-width: 160px;
    margin: 0 auto;
    overflow: visible !important;
  }
  .l-home-docs-client {
    height: 60px;
  }
  .l-footer_line:after {
    display: none;
  }
  .l-footer {
    padding: 0 0 50px 0;
    background: #111111;
    form {
      margin-bottom: 40px;
      padding-bottom: 100px;
      background: url("../images/footer_bg_mob.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  .l-footer__title {
    margin: 100px 0 26px 0;
    font-size: 35px;
    line-height: 43px;
  }
  .l-footer__subinfo {
    margin: 10px 0;
    br {
      display: none;
    }
  }
  .l-footer__subtitle {
    margin-top: 60px;
  }
  .l-footer__link {
    margin: 40px 0 0 0;
  }
  .l-footer-partners {
    overflow: hidden;
    margin-top: 0;
    padding-bottom: 30px;
    border: 0;
    border-bottom: 2px solid #313131;
    &__title {
      margin-bottom: 30px;
    }
  }
  .l-footer-partners__cards {
    max-width: 130px;
    margin: 0 auto;
    overflow: visible !important;
  }
  .l-projects-aside {
    padding: 30px 0;
  }
  .l-home-docs {
    overflow: hidden;
  }
  .l-page__title {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 43px;
  }
  .l-projects__cards .l-home-projects-card {
    flex: 1 1 100%;
    min-height: 315px;
  }
  .l-projects__cards {
    transform: none;
  }
  .page {
    width: 100%;
    overflow: hidden;
  }
  .l-breadcrumps {
    display: none;
  }
  .l-welcome__title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
  }
  .l-welcome__text {
    margin: 14px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
  }
  .l-object-info {
    padding: 40px 0;
  }
  .l-object-info__title {
    margin: 0 0 6px 0;
    font-size: 35px;
    line-height: 43px;
  }
  .l-object-tasks__image {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 375px;
  }
  .l-object-tasks {
    padding: 0 0 60px 0;
    &__title {
      margin: 80px 0 23px 0;
      font-size: 35px;
      line-height: 43px;
    }
  }
  .l-object-tasks__content {
    padding: 0;
  }
  .l-home-docs__row {
    display: none;
  }
  .l-object-items {
    padding: 95px 0 40px 0;
  }
  .l-object-items__title {
    font-size: 35px;
    line-height: 43px;
  }
  .l-object-gallery {
    padding: 40px 0;
    &__title {
      margin-bottom: 40px;
      font-size: 35px;
      line-height: 43px;
    }
  }
  .l-object-similar {
    padding: 40px 0 20px 0;
    &__title {
      margin-bottom: 30px;
      font-size: 35px;
      line-height: 43px;
    }
    .l-home-docs__row {
      display: flex !important;
      justify-content: center;
      position: relative;
      top: 0;
      max-width: 246px;
      margin: 40px auto 0 auto;
    }
  }
  .l-service-features {
    padding: 40px 0 0 0;
    &__title {
      margin-bottom: 40px;
      font-size: 35px;
      line-height: 43px;
    }
  }
  .l-service-features__image {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 375px;
  }
  .l-service-why {
    padding: 90px 0;
    &__title {
      margin-bottom: 26px;
      font-size: 35px;
      line-height: 43px;
    }
  }
  .l-service-why__text {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 25px;
  }
  .l-service-why-card__title {
    margin-bottom: 14px;
    font-size: 25px;
    line-height: 30px;
  }
  .l-service-why {
    background-size: contain;
  }
  .l-service-form_line:after {
    display: none;
  }
  .l-service-form {
    padding: 90px 0;
  }
  .l-service-form__title {
    font-size: 35px;
    line-height: 43px;
  }
  .l-service-form-card {
    flex-flow: row wrap;
  }
  .l-service-form-card__image {
    flex: 1 1 100%;
    height: 100px;
  }
  .l-service-form .l-footer__title {
    margin: 90px 0 20px 0;
    font-size: 20px;
    line-height: 24px;
  }
  .l-service-form .l-footer__text {
    margin-bottom: 20px;
  }
  .l-service-projects {
    padding-top: 50px;
    &__title {
      margin-bottom: 12px;
      font-size: 35px;
      line-height: 43px;
    }
    &__cards {
      padding: 0 30px;
    }
  }
  .l-service-projects__text {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 25px;
  }
  .l-service-solutions {
    padding-top: 90px;
    &__title {
      margin-bottom: 20px;
      font-size: 35px;
      line-height: 43px;
    }
    &__text {
      margin-bottom: 60px;
      font-size: 20px;
      line-height: 25px;
    }
  }
  .l-service-solutions-card {
    flex-flow: row nowrap;
    align-items: center;
    background: url("../images/icon_arrow_right_small.svg") no-repeat right 30px
      center;
    background-size: 28px 22px;
    &__title {
      margin: 0 50px 0 25px;
      text-align: left;
    }
  }
  .l-service-include {
    padding: 90px 0;
    &__title {
      margin-bottom: 40px;
      font-size: 35px;
      line-height: 43px;
    }
  }
  .l-service-include__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .l-service-info {
    padding: 50px 0 30px 0;
  }
  .l-service-info__title {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 43px;
  }
  .l-service-info__text {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 25px;
  }
  .l-service-info-collapse__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .l-service-info-collapse__content {
    font-size: 16px;
    line-height: 24px;
  }
  .l-service-info__block {
    min-height: 620px;
    margin: 70px auto 0 auto;
    padding: 30px;
  }
  .l-service-already {
    padding-top: 85px;
  }
  .l-service-already__text {
    margin-bottom: 30px;
  }
  .l-page__title_mob {
    margin-top: 120px;
  }
  .l-docs {
    padding-bottom: 20px;
  }
  .l-docs-card {
    display: block;
    margin: 0 0 30px 0;
    &__image {
      width: 100%;
      max-width: 170px;
    }
  }
  .l-docs-card__right {
    padding: 0 0 15px 0;
  }
  .l-welcome__title b,
  .l-welcome__title strong {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #95c132;
  }
  .l-about-companies__text {
    margin-bottom: 50px;
  }
  .l-about-companies__cards {
    max-width: 250px;
    margin: 0;
    overflow: visible !important;
  }
  .l-about-companies {
    padding-bottom: 60px;
  }
  .l-about-ceo__block {
    position: relative;
    margin-top: 380px;
    padding: 50px 30px;
    background: #1c1c1c;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 380px;
      bottom: 100%;
      left: 0;
      background: url("../images/about_director_mob.jpg") no-repeat center
        bottom;
      background-size: cover;
    }
  }
  .l-about-ceo .l-home-about-card {
    flex: 0 1 50%;
  }
  .l-about-ceo_mob {
    margin: 0;
    padding: 0;
  }
  .l-about-geo__title {
    position: relative;
    z-index: 3;
  }
  .l-about-geo__text {
    position: relative;
    margin: 20px 0 0 0;
    z-index: 3;
  }
  .l-about-geo__map svg {
    height: 200px;
  }
  .l-about-team__title {
    margin-bottom: 16px;
    font-size: 35px;
    line-height: 43px;
  }
  .l-about-team__cards {
    max-width: 240px;
    margin: 0;
    overflow: visible !important;
    .swiper-slide-active {
      .l-about-team-card {
        .l-about-team-card__info {
          opacity: 1;
        }
        .l-about-team-card__image {
          box-shadow: inset 0 0 0 2px #95c132;
        }
      }
    }
  }
  .l-about-team__subtitle:before {
    left: -10px;
    top: -5px;
  }
  .l-about-docs__title {
    font-size: 35px;
    line-height: 43px;
  }
  .l-about-docs-card {
    margin: 0 auto;
    border: 2px solid #484848;
  }
  .l-page__title {
    margin-top: 120px;
  }
  .l-news-card__title {
    font-size: 26px;
    line-height: 1.2;
  }
  .l-news-card_order {
    order: -1;
  }
  .l-news-card__title {
    margin: 20px 0;
  }
  .l-deal {
    padding: 40px 0 0 0;
    &__title {
      margin-bottom: 20px;
      font-size: 35px;
      line-height: 43px;
    }
  }
  .l-deal-card {
    margin-bottom: 30px;
  }
  .l-deal-get {
    padding: 40px 20px;
  }
  .l-deal-get__title {
    font-size: 32px;
    line-height: 38px;
  }
  .l-deal-get__info {
    font-size: 26px;
    line-height: 34px;
  }
  .l-article {
    padding: 40px 0 0 0;
  }
  .l-article__welcome {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.25;
  }
  .l-article h2 {
    font-size: 40px;
  }
  .l-article__gallery {
    padding: 10px 0 30px 0;
  }
  #map {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .l-contacts-team {
    padding: 40px 0;
  }
  .l-contacts-team-card {
    margin-bottom: 20px;
  }
  .l-docs-modal__content {
    padding: 20px;
  }
  .l-docs-modal__image {
    max-width: 200px;
    height: 240px;
  }
  .l-docs-modal__title {
    margin: 20px 0;
  }
  .l-docs-modal__what {
    margin-bottom: 20px;
  }
  .l-modal__content {
    padding: 20px;
  }
  .l-modal__title {
    margin-bottom: 30px;
  }
  .l-footer__subinfo {
    margin: 20px 0;
  }
  .l-menu {
    overflow-y: auto;
  }
  .l-menu__image {
    display: none;
  }
  .l-service-include__content {
    position: relative;
    height: 630px;
    padding-bottom: 60px;
    overflow: hidden;
    &_active {
      height: auto !important;
      padding-bottom: 0;
      &:after {
        display: none !important;
      }
    }
    &:after {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      content: "Читать дальше";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-decoration-line: underline;
      color: #95c132;
      cursor: pointer;
      text-align: center;
      z-index: 3;
    }
  }
  .l-home-docs__row {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 250px;
    width: 100%;
    max-width: 340px;
    left: 50%;
    transform: translateX(-50%);
  }
  .l-home-docs__right {
    position: static;
  }
  .l-home-docs .swiper-button-next,
  .l-home-docs .swiper-button-prev {
    display: inline-block;
  }
  .l-about-ceo__block:before {
    background-position: center top;
  }
  .l-about-ceo_mob {
    margin: 0 auto;
  }
  .l-home-docs__title {
    min-height: 86px;
  }
  .l-footer-partners {
    overflow: visible;
  }
  .l-object-gallery__cards {
    max-height: 100%;
  }
  .l-home-docs__cards {
    transform-style: preserve-3d;
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateZ(1px);
    }
  }
  .l-home-docs__row {
    z-index: 5;
  }
  .l-docs-card {
    max-width: 485px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    z-index: 5;
  }
  .l-about-docs {
    .l-home-docs__row {
      display: flex;
      position: relative;
      margin: 20px auto;
      top: 0;
      left: 0;
      transform: none;
    }
  }
  .l-object-items {
    .l-home-docs__row {
      position: relative;
      top: 0;
      left: 0;
      margin: 30px auto 0 auto;
      transform: none;
    }
  }
  .l-object-similar .l-home-docs__row {
    left: 0;
    transform: none;
  }
  .l-home-docs_page {
    padding-bottom: 0;
  }
  .l-projects-aside__hide {
    display: none;
  }
  .l-projects-aside__title {
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      right: 0;
      top: 16px;
      width: 16px;
      height: 16px;
      background: url("../images/icon_button_arrow_right.svg") no-repeat right
        center;
      transition: all 0.2s ease-out;
    }
    &_active {
      &:after {
        transform: rotate(90deg);
      }
    }
  }
}

@media (max-width: 768px) {
  .l-object-items__cards {
    max-width: 270px;
    margin: 0 auto;
    overflow: visible !important;
  }
  .l-object-similar__cards {
    padding: 30px 30px 0 30px;
  }
  .l-home-projects__title {
    font-size: 30px;
  }
  .l-welcome__title {
    font-size: 37px;
  }
  .l-service-why__title {
    font-size: 33px;
  }
  .l-service-why__button-arrow {
    flex: 0 0 70px;
  }
  .l-service-already {
    padding-left: 15px;
    padding-right: 15px;
  }
  .l-thx__content {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .l-thx__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .l-thx__subtitle {
    font-size: 18px;
    line-height: 1.2;
  }
  .l-thx__text {
    font-size: 14px;
    line-height: 1.2;
  }
  .l-thx img,
  .l-thx svg {
    max-width: 140px;
  }
  .l-home-solutions-card:nth-child(1) {
    background-image: url("../images/home_solutions_mob_1.jpg") !important;
  }
  .l-home-solutions-card:nth-child(2) {
    background-image: url("../images/home_solutions_mob_2.jpg") !important;
  }
  .l-home-solutions-card:nth-child(3) {
    background-image: url("../images/home_solutions_mob_3.jpg") !important;
  }
  .l-home-solutions-card:nth-child(4) {
    background-image: url("../images/home_solutions_mob_4.jpg") !important;
  }
  .l-home-about-card__text {
    font-size: 13px;
  }
}

@media (max-width: 330px) {
  .l-service-solutions-card__title {
    font-size: 12px;
  }
}
